<div>
    <h2 id="page-heading">
        <span>Book Lendings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book-lending" [routerLink]="['/book-lending/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Book Lending
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bookLendings?.length === 0">
        <span>No bookLendings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bookLendings && bookLendings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reserveDate"><span>Reserve Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueDate"><span>Due Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="returnedDate"><span>Returned Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="returnDate"><span>Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="studentId"><span>Student</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bookId"><span>Book</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bookLending of bookLendings ;trackBy: trackId">
                    <td><a [routerLink]="['/book-lending', bookLending.id, 'view']">{{ bookLending.id }}</a></td>
                    <td>{{ bookLending.reserveDate | date:'mediumDate' }}</td>
                    <td>{{ bookLending.dueDate | date:'mediumDate' }}</td>
                    <td>{{ bookLending.returnedDate | date:'mediumDate' }}</td>
                    <td>{{ bookLending.note}}</td>
                    <td>
                        <div *ngIf="bookLending.studentId">
                            <a [routerLink]="['/student', bookLending.studentId , 'view']" >{{ bookLending.studentName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="bookLending.bookId">
                            <a [routerLink]="['/book', bookLending.bookId , 'view']" >{{ bookLending.bookName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/book-lending', bookLending.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/book-lending', bookLending.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bookLending)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bookLendings && bookLendings.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
