<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="librarian">
            <h2><span>Librarian</span> {{ librarian.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ librarian.name }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ librarian.address }}</span>
                </dd>
                <dt><span>Contact No</span></dt>
                <dd>
                    <span>{{ librarian.contactNo }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ librarian.email }}</span>
                </dd>
                <dt><span>Library</span></dt>
                <dd>
                    <div *ngIf="librarian.libraryId">
                        <a [routerLink]="['/library', librarian.libraryId, 'view']">{{ librarian.libraryName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/librarian', librarian.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
